<!---DOCTYPE html--->
<html>
<head>
     <!--adding style sheets and fonts-->
     <link rel="stylesheet" href="../assets/css/homestyle.css" type="text/css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Avg_nrsc</title>
    <!--adding icon to title-->
    <link rel="icon" href="" type="image/x.icon">
</head>
<body>


    
    <div class="fhalf">
        

        <!--adding navigation bar-->
        <nav class="nav">
            <img class="isrologo" src="" alt="isro logo">
            <label class="logo">nrsc Hyderabad</label>
            <label class="authority">Indian Space Research Organization</label>
        </nav>

        <!--adding text on image-->
        <div class="appname">
            <img class="applogo" src="" alt="applogo here">
            <div class="apptext">
                AUTOMATED VIDEO GENERATOR
            </div>
            <div class="apptagline">Easy & Faster</div>
        </div>
    </div>


    <!--second section of the code-->
    
        <div class="sectionDescription">
            <div class="sectiontitle">choose a method</div>
            <div class="subh">Create new video!</div>
        </div>
    <div class="shalf">
        <div class="imagemethod">
            <img class="uimgicon" src="../assets/img/im_image.png" alt="upload image icon">
            <div class="methoddescription">
                Upload Image and Description, Create video using them!
            </div>
            <button id="upimg" type="button">Create Now</button>
        </div>


        <div class="excelmethod">
            <img class="uexicon" src="../assets/img/eximage.png" alt="upload excel icon">
            <div class="methoddescription">
                Upload excel file and create video using it!
            </div>
            <button id="upexcel" type="button">Create Now</button>

        </div>
    </div>





    <!--adding modal popup-->

    <div class="modalbg">
        <div class="modalpopup">
            <h1>modal popup will be displayed here</h1>

        </div>
    </div>
    
    
    
    
    
    
    
    <!--adding footer-->



    <div class="footer">
        <div class="footertext">©NRSC, ISRO All rights reserved</div>
    </div>

    <script src="../assets/js/homefn.js"></script>

</body>

</html>