<html>
    <head>
        <title>Avg_nrsc</title>
    </head>
    <body>
        <form method="POST" action="/mv">
            <input type="submit" value="create video//check"/>
        </form>
    </body>
</html>