<html>
    <head>
        <title>Avg_nrsc</title>
        
    </head>
    <body>
        <h2>upload images from local system</h2>
        <input type="file" name="myfile" id="myfile" multiple accept="image/jpg,png,jpeg">
        <button  onclick="send()">Upload</button>

        <form method="POST" action="/mv">
            <h1>this section to be persisted</h1>
            
            <input type="text" id="filenames" name="filenames">
            
            
            <input type="submit" value="create video//check"/>
        </form>



        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../assets/js/uploadimgfn.js"></script>

    </body>
</html>