<html>
    <head>
        <title>Avg_nrsc</title>
        
    </head>
    <body>
        <div class="regsection">
            <!--this section check the authenticity of the file name and selection of category-->
            <h1>please select a category and filename</h1>
          
                <h3>select category</h3>
                <select name="category" id="video_cat">
                    <option value="agriculture">Agriculture</option>
                    <option value="Education">Education</option>
                    <option value="space">Space Research</option>
                </select><br>
                <h3>select filename</h3>
                <input type="text" id="file_name" name="filename"/>
                <input type="submit"  id="next" value="next"/>
           



        </div> 




        <div class="actionsection">


            <!--this section contain gui for uploading images-->
            <h2>upload images from local system</h2>
            <input type="file" name="myfile" id="myfile" multiple accept="image/jpg,png,jpeg">
            <button  onclick="send()">Upload</button>



             <!--this section contain gui for text to speech-->
            <h2>create your background music</h2>
            <div class="tts">
                
                        <textarea name="text" cols="30" rows="10"></textarea>
                        <button  id="ttsbtn">convert to mp3</button>
                

            </div>
        </div>








        <form method="POST" action="/mv">
            <h1>this section to be persisted</h1>
            
            <input type="text" id="filenames" name="filenames">
            
            
            <input type="submit" value="create video//check"/>
        </form>


        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../assets/js/uploadimgfn.js"></script>

    </body>
</html>