<html>
    <head>
        <title>iVideo</title>
        <!--adding icon to title-->
        <link rel="icon" href="../assets/img/logo.png" >
        <link rel="stylesheet" href="../assets/css/all.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../assets/css/workspace.css" type="text/css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">       
        
    </head>
    <body>
        <div class="appadv" id="registration_section">
            <div class="image_wrapper">
                <img src="../assets/img/logo.png" alt="applogo_here">
            </div>
            <div class="ah">iVideo Workbench</div>
            <i id="ac" class="fas fa-plus-circle"></i>
            <div class="regsection" >
                <!--this section check the authenticity of the file name and selection of category-->
                    <form id="Form1" action="/download" method="post"></form>
                    <div class="description">
                        <i class="fas fa-list-ul"></i>
                        <h4>Select category</h4>
                    </div><br>
                    <select name="category" id="video_cat" form="Form1"></select><br>
                    <div class="description">
                        <i class="fas fa-file-signature"></i>
                        <h4>Your filename</h4>
                    </div><br>
                    <input type="text" id="file_name" name="filename" form="Form1" autocomplete="off"/><br>
                    <button id="next" disabled="disabled">Next</button>
            </div> 
            
            
        </div>
        <div class="actionsection">
            <div class="top">
                <div class="image_wrapping">
                    <img src="../assets/img/logo.png" alt="applogo_here">
                </div>
                <div class="sectiontitle">Welcome To Your Workspace</div>
            </div>
            
            <!--this section contain gui for uploading images-->
            <div class="imgupload">
                <p class="steph">Step 1:</p>
                <i class="far fa-images"></i>
                <h3>Upload Your Images</h3>
                <input type="file" class="fileup"name="myfile" id="myfile" multiple accept="image/jpg,png,jpeg"><br>
                <p class="info">Please select images before clicking upload button.</p>
                <button id="upldbtn" onclick="send()">Upload</button>
                <div class="loading" id="loader">
                    <img src="../assets/img/loading.gif" alt="loading......">
                </div>
            </div>
             <!--this section contain gui for text to speech-->
            <div class="tts">
                <p class="steph">Step 2:</p>
                <i class="fas fa-music"></i>
                <h3>Compose Your Background Track</h3>
                <div class="language">
                    <i class="fas fa-cog" id="icon"></i>
                    <select id="languages">
                        <option value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="ta">Tamil</option>
                    </select>
                </div>
                <textarea name="text" id="tarea" cols="30" rows="10" placeholder="Remember! Be nice."></textarea><br>
                <button  id="ttsbtn" >Compose</button>
                <div id="preloadertts" >    
                    <div class="ttsloading">
                        <img src="../assets/img/loading.gif" alt="loading......">
                    </div>
                    <p>Please wait..Don't go to next step.</p>
                </div>
                
            </div>
             <!--this section contain gui for addframe-->
            <div class="rendervideo">
                <p class="steph">Step 3:</p>
                <i class="fas fa-film"></i>
                <h3>Frame Options</h3>
                <p class="addframeinfo">select loop time (sec)</p>
                <input type="number" id="loop" name="time">
                <button id="makevideo">Add Frame</button><br>
                <div id="preloaderaddframe" >    
                    <div class="addframeloading">
                        <img src="../assets/img/loading.gif" alt="loading......">
                    </div>
                    <p>Please wait..Don't go to next step.</p>
                </div>
            </div>
            <!--this button click creates the video-->
            <div class="merge">
                <p>Please render video  only after you completed adding all your video frames</p>
                <button id="mergevideo">Render</button><br>
            </div>
            

           
            
        </div>

        <!--render success section-->
        <div class="success">
            <div class="successimage">
                <img src="../assets/img/success.svg" alt="success image">
            </div>
            <p>Success! Download is ready</p>
            <div class="download">
                <input type="submit" name="button1"  id="downloadbtn" value="Download" form="Form1" />
            </div>

        </div>
        <!--render error section-->
        <div class="error">
            <div class="errorimage">
                <img src="../assets/img/error.svg" alt="error image">
            </div>
            <p>Oops! Something Went Wrong</p>
            <form method="GET" action="/createvideo">
                <input type="submit" id="errorbtn" value="Try again">
            </form>

        </div>
        




    <!--adding modal popup-->
    
    <div class="modalbg">
        
        <div class="modalpopup">
            
            <div class="close">+</div>
            <div class="icon_wrapper">
                <img src="../assets/img/logo.png" alt=appicon>
            </div><br>
            <div class="category">
                <p>Welcome!</p>
                <input type="text" id="cat" name="cat" placeholder="+  Category name" autocomplete="off"><br>
                <button id=newcat>Insert</button>
            </div>
            
        </div>
     </div>
     





        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../assets/js/workspacefn.js"></script>
        <script src="../assets/js/workspaceModalPOP.js"></script>
    
    </body>
</html>