<html>
    <head>
        <title>Avg_nrsc</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../assets/css/workspace.css" type="text/css">
       
        
    </head>
    <body>
        
        <div class="regsection">
            <!--this section check the authenticity of the file name and selection of category-->
            <h1>--App Work Space--</h1>

                
                <h3>select category</h3>
                <select name="category" id="video_cat">
                    <option value="agriculture">Agriculture</option>
                    <option value="Education">Education</option>
                    <option value="space">Space Research</option>
                </select><br>
                <h3>select filename</h3>
                <input type="text" id="file_name" name="filename"/>
                <button id="next">next</button>
           



        </div> 




        <div class="actionsection">


            <!--this section contain gui for uploading images-->
            <h2>upload images from local system</h2>
            <input type="file" name="myfile" id="myfile" multiple accept="image/jpg,png,jpeg">
            <button  onclick="send()">Upload</button>



             <!--this section contain gui for text to speech-->
            <h2>create your background music</h2>
            <div class="tts">
                
                        <textarea name="text" id="tarea" cols="30" rows="10"></textarea>
                        <button  id="ttsbtn">convert to mp3</button>
                

            </div>

            
        </div>


        <!--this button click creates the video-->
        <button id="make">CREATE</button>




    <!--adding modal popup-->
    <h2>this is a model popup section</h2>
    <div class="modalbg">
        <div class="modalpopup">
            <div class="close">+</div>
            <div class="category">
                <form method="POST" action="/b">
                    <input type="text" id="cat" name="cat">
                    <input type="submit" value="Insert"/>
                </form>
            </div>
            
        </div>
    </div>




        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../assets/js/workspacefn.js"></script>
    
    </body>
</html>