*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right,rgb(5, 184, 255),rgb(95, 95, 233),rgb(240, 82, 205),rgba(10, 175, 241, 0.945));
}
html{
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}
.appadv{
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    margin: auto;
    text-align: center;
    margin-top: 20rem;
    position: relative;
}
.image_wrapper{
    width: 5rem;
    padding-top: 3.5rem;
    margin-left: 50%;
}
.image_wrapper img{
    width: 100%;
    object-fit: cover;
    transform: translate(-50%);
}
.ah{
    padding-top: 1.5rem;
    font-family: 'Quattrocento', serif;
    font-size: 2rem;
    color:rgb(109, 86, 214);
    text-align: center;
    text-shadow: 0 .3rem .5rem 0 rgba(0, 0, 0, 0.4);
    font-weight: 500;
    padding-bottom: 2rem;
}
.regsection{
    margin-top: 2rem;
    position: relative;
    
}

#ac{
    position: absolute;
    right: 3rem;
    top: 3.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(109, 86, 214);
    
}
.description{
    position: absolute;
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    
}
.description h4{
    font-family: 'Montserrat', sans-serif;
    font-size:1.3rem;
    padding-left: 1.2rem;
    color: rgba(5, 5, 5, 0.685);
    font-weight: 600;
}
.description i{
    font-size: 1.5rem;
    color: rgba(5, 5, 5, 0.685);
}
#video_cat{
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    width: 18rem;
    border-radius: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: .5rem;
    border: 2px solid rgb(109, 86, 214);
    cursor: pointer;
}
#file_name{
    margin-top: 1rem;
    margin-bottom: 8rem;
    width: 18rem;
    height: 3rem;
    text-align: center;
    border-radius: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    border: 2px solid rgb(109, 86, 214);
}
#next{
    position: absolute;
    right: 3rem;
    bottom: 2.5rem;
    background-color: white;
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
   
}
#next:enabled:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}
#next:disabled{
    background-color: white;
    color:rgba(73, 72, 75, 0.4);
    border: 2px solid rgba(73, 72, 75, 0.4);
}
#next:enabled{
    position: absolute;
    right: 3rem;
    bottom: 2.5rem;
    background-color: white;
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}


.actionsection{
    width: 80%;
    margin: auto;
    border-radius: .8rem;
    background-color: white;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    position:relative;
    margin-top:3rem;
    margin-bottom:3rem;
    text-align: center;

}
.image_wrapping{
    position:absolute;
    width: 4rem;
    margin-top:3rem;
    margin-left: 50%;
    transform: translate(-50%);

}
.image_wrapping img{
    width:100%;
    object-fit:cover;
}
.sectiontitle{
    text-align: center;
    padding-top:8rem;
    font-family: 'Quattrocento', serif;
    font-size: 2rem;
    color:#6d56d6;
    font-weight:bold;
   
    
}
.imgupload{
    margin:3rem 2rem 2rem 2rem;
    background-color:white;
}
.fileup{
    background-color: white;
    border: 2px solid rgb(109, 86, 214);
    border-radius: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-file-upload-button{
    background-color:rgb(109, 86, 214) ;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    padding: .2rem .5rem .2rem .3rem;
    cursor: pointer;
}
.info{
    margin-top: 1.5rem;
    font-family: 'Antic', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
}
#upldbtn{
    margin-top: 1rem;
    background-color: white;
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
    
}
#upldbtn:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}

.loading{
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
.loading img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.tts{
    
    background-color:rgb(255, 255, 255);
}
.language{
    display: flex;
    align-items: center;
    position: absolute;
    right: 12%;
}
#icon{
    font-size:1.5rem;
    color: rgba(12, 12, 12, 0.795);
}
#languages{
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    margin-left: .1rem;
    margin-top: .5rem;
}


#tarea{
    width: 80%;
    height: 30rem;
    resize: none;
    background-color: white;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border:2px solid rgb(109, 86, 214);
   
}
#ttsbtn{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
#ttsbtn:enabled{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
#ttsbtn:enabled:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}
#ttsbtn:disabled{
    background-color:rgba(255, 255, 255, 0);
    color:rgba(73, 72, 75, 0.4);
    border: 2px solid rgba(73, 72, 75, 0.4);
    cursor: auto;
}
#preloadertts{
    width: 40%;
    height: auto;
    margin: auto;
    text-align: center;
    position: relative;
    display: none;
    
    
  
}
.ttsloading{
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   
}
.ttsloading img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#preloadertts p{
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}






.rendervideo{
    
    background-color:rgba(58, 58, 58, 0.055);
    
}
.addframeinfo{
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    padding-bottom: .5rem;
}
#loop{
    border-radius: 1rem 0rem 0rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border:2px solid rgb(109, 86, 214);
    padding: .3rem 2rem .3rem 2rem;
    font-size: 1rem;
    margin-bottom: 3rem;
}
#makevideo{
    
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
#makevideo:enabled{
    
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
#makevideo:enabled:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}
#makevideo:disabled{
    background-color:rgba(255, 255, 255, 0);
    color:rgba(73, 72, 75, 0.4);
    border: 2px solid rgba(73, 72, 75, 0.4);
    cursor: auto;
}


.success{
    width: 80%;
    height: 5rem;
    margin: auto;
    background-color:white;
    margin-bottom: 5rem;
}
.download{
    text-align: center;
    padding-bottom:3rem;
}
.error{
    width: 80%;
    height: 5rem;
    margin: auto;
    background-color:white;
    margin-bottom: 5rem;
}
.goback{
    text-align: center;
    padding-bottom:3rem;
}


















.modalbg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    
}
.modalpopup{
    width: 25%;
    height: auto;
    background: rgb(250, 202, 202);
    text-align: center;
    border-radius:6px;
    position: relative;
    text-align: center;
}
.close{
    position: absolute;
    right: 1rem;
    top: .3rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(109, 86, 214);
    transform:rotate(45deg);
    cursor: pointer;
}
.icon_wrapper{
    width: 4rem;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 3rem;
}
.icon_wrapper img{
    width: 100%;
    object-fit: cover;
}
.category{
    padding-top: 6.5rem;
}
.category p{
    font-family: 'Quattrocento', serif;
    font-size: 1.5rem;
    color:rgb(109, 86, 214);
    text-align: center;
    text-shadow: 0 .3rem .5rem 0 rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding-bottom: .5rem;
}
#cat{
    margin-top: 1.5rem;
    width: 19rem;
    border: none;
    border-radius: 2.5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.726);
    transition: .3s;
}

#newcat{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background-color: rgb(250, 202, 202);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
#newcat:enabled:hover{
    background-color:rgb(109, 86, 214);
    color:white;    
}
#newcat:disabled{
    background-color: rgb(250, 202, 202);
    color:rgba(73, 72, 75, 0.4);
    border: 2px solid rgba(73, 72, 75, 0.4);
}
#newcat:enabled{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background-color: rgb(250, 202, 202);
    color:rgb(109, 86, 214);
    border: 2px solid rgb(109, 86, 214);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: 2.5rem;
    transition: .3s;
    outline-style: none;
    cursor: pointer;
}
.steph{
    font-family: 'Antic', sans-serif;
    color: rgba(0, 0, 0, 0.404);
    font-weight: bold;
    padding-top:2.5rem;
    font-size: 1.3rem;
    text-align: center;
}
.actionsection i{
    padding-top:.6rem;
    font-size:3rem;
    color: rgb(109, 86, 214);
}.actionsection h3{
    padding-top:.5rem;
    font-size:1.7rem;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.877);
    font-weight:bold;
    padding-bottom: 2.5rem;

}


